---
- name: Calculate controller temporary directory
  ansible.builtin.set_fact:
    profile_staging_base: "/tmp/ansible/controller-{{ lookup('pipe', 'whoami')
      }}/profiles"
  delegate_to: localhost
  check_mode: false
  run_once: true
  become: false
  tags:
    - base-users

- name: Maintain base default users
  ansible.builtin.include_tasks: users.yml
  when: base_default_users | length > 0
  loop: "{{ base_default_users }}"
  loop_control:
    loop_var: user
  tags:
    - base-users

- name: Maintain base users
  ansible.builtin.include_tasks: users.yml
  when: base_users | length > 0
  loop: "{{ base_users }}"
  loop_control:
    loop_var: user
  tags:
    - base-users

- name: Maintain base packages
  ansible.builtin.include_tasks: packages.yml
  tags:
    - base-packages

- name: Set system hostname (FQDN)
  ansible.builtin.hostname:
    name: "{{ base_hostname }}"
  when: base_hostname|length > 0

- name: Maintain /etc/hosts
  ansible.builtin.template:
    src: etc_hosts.j2
    dest: "{{ base_hosts_path }}"
    owner: root
    group: root
    mode: '0644'
    backup: true
  tags:
    - base-hosts

- name: Maintain resolv.conf
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: "{{ base_resolv_conf_path }}"
    owner: root
    group: root
    mode: '0644'
    backup: true
  tags:
    - base-resolv
