---
- name: Maintain base default users
  ansible.builtin.include_tasks: users.yml
  when: base_default_users | length > 0
  loop: "{{ base_default_users }}"
  loop_control:
    loop_var: user
  tags:
    - base-users

- name: Maintain base users
  ansible.builtin.include_tasks: users.yml
  when: base_users | length > 0
  loop: "{{ base_users }}"
  loop_control:
    loop_var: user
  tags:
    - base-users

- name: Maintain base packages
  ansible.builtin.include_tasks: packages.yml
  tags:
    - base-packages

- name: Compute derived facts
  ansible.builtin.set_fact:
    base_fqdn: "{{ base_hostname }}.{{ base_domainname | trim('.') }}"
    base_search_domains: "{{ base_resolv_search_domains | default([]) | unique }}"
    base_nameservers: "{{ base_resolv_nameservers | default([]) | unique }}"

- name: Set system hostname (FQDN)
  ansible.builtin.hostname:
    name: "{{ base_fqdn }}"

- name: Maintain /etc/hosts
  ansible.builtin.template:
    src: etc_hosts.j2
    dest: "{{ base_hosts_path }}"
    owner: root
    group: root
    mode: '0644'

- name: Maintain resolv.conf
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: "{{ base_resolv_conf_path }}"
    owner: root
    group: root
    mode: '0644'
