---
- name: Converge
  hosts: all
  become: true
  roles:
    - role: .
      vars:
        base_default_users:
          - name: mbr
            state: present
            uid: 1001
            gid: 1001
            comment: Mikhail Bruskov
            groups: "{{ 'wheel' if ansible_facts.os_family == 'RedHat' else 'sudo' }}"
            shell: /bin/bash
            git_profile: nemca
          - name: dmisu
            state: present
            uid: 1011
            gid: 1011
            comment: Dmitry Sukhodoev
            groups: "{{ 'wheel' if ansible_facts.os_family == 'RedHat' else 'sudo' }}"
            shell: /bin/bash
            git_profile: raven428
            profile_repo: "https://github.com/raven428/profile.git"
        base_apt_repos:
          - name: nodesource
            repo: "https://deb.nodesource.com/node_20.x nodistro main"
            key: "https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key"
            state: present
        base_hostname: d01
        base_domainname: domain.example.com
        base_hosts_path: /etc/hosts.check
        base_resolv_conf_path: /etc/resolv.conf.check
        base_resolv_search_domains:
          - perfectcircle.tech
          - example.com
        base_hosts_entries:
          - ip: 192.0.2.1
            names: [domain.example.com]
            comment: Domain comment
          - ip: 192.0.2.2
            names: [domain.example.com]
            comment: Domain comment
          - ip: 192.0.2.3
            names: [domain.example.com]
          - ip: 192.0.2.4
            names: [domain.example.com]
