---
name: Molecule Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Ansible Lint & YAML Lint & Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r molecule/requirements.txt
          npm install -g markdownlint-cli2

      - name: Run Ansible Lint
        run: ansible-lint

      - name: Run YAML Lint
        run: yamllint .

      - name: Run Markdown Lint
        run: markdownlint-cli2 README.md

  test:
    name: Molecule Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r molecule/requirements.txt

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Run Molecule Tests
        run: "molecule test"

  all-green:
    name: all green
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    if: always()
    permissions:
      checks: read
    steps:
      - name: waiting for checks success
        uses: poseidon/wait-for-status-checks@v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore: all green, Copilot code review
          timeout: 111s
